# Computer Vision 
opencv-python-headless==4.10.0.84
mediapipe==0.10.14
numpy==1.26.4
torch==2.6.0
torchvision==0.21.0
Pillow==10.2.0

# Web Framework 
fastapi==0.109.0
uvicorn==0.27.0
python-multipart==0.0.6

# Research & Analytics
tqdm==4.67.3
pandas==3.0.0
seaborn==0.13.2
scikit_learn==1.8.0

# Optional 
onnxruntime==1.17.1